
<div class="column gap-1 wrapper">
    <img [src]="product.image" alt="Product thumbnail">
    <h2 class="title ml-10">{{ product.name }}</h2>
    <div class="row gap-05 ml-10">
        <span class="price-label">Price:</span>
        <span class="price">£{{ product.price }}</span>
    </div>

    <div class="row ml-10">
        <p-rating [(ngModel)]="product.rating" 
            [readonly]="true"
            iconCancelClass="hidden"
            />
    </div>

    <div class="row space-around">
        <button type="button" pButton icon="pi pi-pencil" (click)="editProduct()" label="Edit"></button>
        <button type="button" pButton icon="pi pi-trash" (click)="confirmDelete()" label="Delete" #deleteButton class="p-button-danger"></button>
    </div>
</div>

<p-confirmPopup>

</p-confirmPopup>